.userPhoto {
    width: 100px;
    height: 100px;
}

.userList {
    width: 20%;
    margin: auto;
    padding-top: 5vh;
}

.userSpace {
    padding-bottom: 3vh;
}

.usersCount {
    float: right;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a3a300;
}