.header {
    grid-area: h;
    background-color: #1b2956;
}

.loginBlock {
    float: right;
    padding-top: 10px;
}

.button {
    position: relative;
    padding: 4px 7px;
    font-size: 1.1rem;
    color: #111f47;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    background-color: white;
}

.button:hover {
    color: #a3a300;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px black;
}

.loginButton {
    position: relative;
    padding: 4px 7px;
    margin-right: 1vh;
    font-size: 1.1rem;
    color: #a3a300;
    text-shadow: 0 0 15px black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;

}

.loginButton:hover {
    color: #ffff02;
    box-shadow: 0 0 0px black;
}