.nav {
    grid-area: n;
    background-color: #111f47;
    position: relative;
    text-align: center;
    /* padding: 20px; */
}

.navItems a {
    height: 7vh;
    text-align: center;
    display: block;
}

.item {
    color: #a3a300;
    text-decoration: none;
}

.item:hover {
    color: #ffff02;
}

.navItems a:hover {
    background-color: #0b142d;
}

.active {
    color: #ffff02;
    text-decoration: none;
}